.Home-wrap {
  height: 100%;
  background: #505050 url(../static/map.svg) no-repeat center;
  background-size: 200% auto;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-body {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.Home-links {
  padding-top: 20px;
}

.Home-link {
  margin: 0 10px;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.Home-link:hover,
.Home-link:active {
  opacity: 0.8;
}
